@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
 
}
::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #142b5c;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #115CFF;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }
body, html {
    height: 100%;
    background-image: linear-gradient(to left, #142b5c, #000000); 
   
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to left, #142b5c, #000000); 
    z-index: 100;
   
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
    margin-top: 20px;
    
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;

    padding: 5px 10px;
}


.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
   
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 50px;
}




.imagem {
    width: 20%;
    height: auto; 
    border-radius: 30px; 
    margin-right: 80px;
    box-shadow: 0 0 15px 5px rgba(13, 13, 117, 0.7);
    transition: 0.4s ease;
    animation: subirDescer 3s ease-in-out infinite;
}
@keyframes subirDescer {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0);
    }
}
.imagem:hover{
    opacity: 80%;
    margin-bottom: 90px;
}


.texto{
    width: 70%;
    display: flex;             
    justify-content: flex-start;  
    flex-direction: column; 
    padding: 90px;
    padding-top: 100px;
}
.t1{
    color: #f4f4f4;
    font-size: 70px;
    font-weight: 200;
    margin: 5px;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 1;
}
.t2{
    color: #f4f4f4;
    font-size: 60px;
    font-weight: 200;
    margin: 5px;
    padding: 10px;
    margin-top: -50px;
    margin-bottom: 10px;
    z-index: 1;
    
}
.t2 b{
    font-weight: 500;
    
}
.focus {
    background-image: linear-gradient(to right, #115CFF, #ffffff); 
    -webkit-background-clip: text;
    color: transparent;  
    margin: 5px;
    padding: 10px;
    font-size: 70px;
    font-weight: 700;
    margin-top: -50px;
    max-width: 900px;
    

    width: 0;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 4px solid #00f; 
        animation: typing 3s steps(30) infinite, blink 0.75s step-end infinite; 
}


@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 30ch;
    }
}


@keyframes blink {
    50% {
        border-color: transparent; 
    }
}



.subtitulo{
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
    text-align: left;
    max-width: 1100px;
    margin: 5px;
    padding: 10px;
    margin-top: -30px;
}

.align_botoes{
    overflow: hidden
}

#botao1 {
    width: 400px;
    height: 36px;
    background-color: blue;
    color: white;
    font-weight: 700;
    font-size: 25px;
    border: none;
    border-radius: 12px;
    margin-left: 15px;
    
  }
  
  #botao2 {
    width: 200px;
    height: 36px;
    background-color: rgba(0, 255, 204, 0);
    color: white;
    font-weight: 700;
    font-size: 25px;
    border: 2px solid #f4f4f4;
    border-radius: 12px;
  }
  
#section1 {
    background-image: linear-gradient(to left, #142b5c, #000000); 
}

#section2 {
    background-image: linear-gradient(to left, #142b5c, #000000); 
}

#section3 {
    height: 900vh;
    background-image: linear-gradient(to left, #142b5c, #000000); 
}
#section3 h1{
color: #f4f4f4;
display: flex;
justify-content: center;
align-items: center;
font-size: 40px;
padding-top: 210px;
}
#section3 .area{
    width: 100%;
    display: flex;
    justify-content: center; 
 
}
#section3 p{
    color: #a4a2a2;
    margin-top: 45px;
    font-size: 20px;
    text-align: center;
    max-width: 700px;

    }
#section4 {
    background-image: linear-gradient(to left, #142b5c, #000000); 
}

#section5 {
    background-image: linear-gradient(to left, #142b5c, #000000); 
}
.icones {
    display: flex;
    justify-content: right; 
    margin-top: -70px;
    margin-right: 145px;
    margin-bottom: 140px;
}

.icones a {
    margin: 0 10px; 
    font-size: 40px; 
    color: #ffffff; 
    text-decoration: none; 

}

.icones a:hover {
    color: #115CFF; 

}
#container {
    display: flex;
    gap: 20px;
}

.item {
    margin-top: 50px;
    font-size: 10px;
    text-align: center;
    flex: 1; 
    background-image: linear-gradient(to left, #142b5c, #0000005a); 
    width: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;



    
}
.item img{
    width: 120px;
    height: auto;
}

.titulo{
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 200px;
}


